# Keep environment variables out of version control
.env

# Ignore all files in the .vscode folder
/.vscode

# Ignore the build folder
/dist

# Ignore all files in the node_modules folder
/node_modules

# Ignore target folder

/Lavalink/plugins
/Lavalink/application.yml
/Lavalink/Lavalink.jar

/prisma/lavamusic.db
/prisma/migrations

package-lock.json